.footer{
    /* background-color: rgb(228, 220, 207); */
    /* margin-top: 3rem; */
    background-color:#f4f7fa;



}
.footer-details{
    
    justify-content: center;
    text-align: start;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

}
.footer-details h3{
    font-weight: bold;
}
.footer-section{
    padding: 0rem 2rem;
}
.footer-section h5{
    margin: 0 0 1rem;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600;
    line-height: 1.21;
    color: initial;
    font-size: 1.25em;
}
.footer-section li{
    list-style: none;
    line-height: 2rem;
    cursor: pointer;
}

.footer-section img{
    width: 4rem;
    height: 3rem;
}
.copyrights{
    position: relative;
    top: -1rem;
    display: flex;
    justify-content: space-between;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    padding: 0px 15px 20px 15px;
    /* margin-bottom: 2rem; */
    /* padding-top: 0rem !important; */
    
}

@media (max-width:900px) {
.copyrights {
    flex-direction: column;
    margin-left: auto;
    padding-left: 1rem;
    
}
.icon{
    justify-content: center;
    display: flex;

}
    
}