.logo-img {
  width: 5rem;
  height: 5rem;
}
.list {
  display: flex;
  justify-content: end;
}
body {
  font-family: "Comfortaa", sans-serif;
}
.nav-bg{
  background-image: url(../Images/backgrond.jpg);
  
}


.header  {
  /* background-color: #f4f7fa; */
  background-color: transparent;
}

.header-bg{
  background-color: #f4f7fa;
  transition: .3s ease-in-out;
}
.header-bg .link-style{
  color: black;
}
.link-style{
  color: black;
}

ul{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  list-style: none;
  color: black;
  font-weight: bold;
  margin-bottom: 0%;
}
.link-style{
  text-decoration: none;
  color: white;
}
ul li{
  padding: 1rem;
  cursor: pointer;
}
ul li:hover{
  color: white !important;
  
}
.toggle{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 15rem;
  padding-left: 0rem;

}
#menu-appbar{
  padding-top: 0rem;
}
@media (max-width:900px) {
  .list {
  display: none;
  }
  
}