.logo-img {
  width: 3rem;
  height: 3rem;
}
.list {
  display: flex;
  justify-content: end;
}
body {
  font-family: "Comfortaa", sans-serif;
}
.a button {
  color: black;
  font-weight: bold;
}
.a {
  background-color: #f4f7fa;
}
/* #menu-appbar {
  width: 21rem;
  background-color: black;
  color: wheat;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7rem;
  justify-content: center;
  text-align: center;
  align-items: center;
} */
ul{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  list-style: none;
  color: black;
  font-weight: bold;
  margin-bottom: 0%;
}
.link-style{
  text-decoration: none;
  color: black;
}
ul li{
  padding: 1rem;
  cursor: pointer;
}
ul li:hover{
  color: white !important;
  
}
.toggle{
  display: flex;
  flex-direction: column;

}
/* #menu-appbar{
  width: 50%;
  background-color: black;
  position: absolute;
  top: 7rem;

} */