.pricing{
    /* background-color: #f4f7fa; */
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:  2rem 0rem 1rem 0rem;  
}
.pricing p{
    margin-bottom: 0rem;
}
.pricing button{
    margin-top: 1rem;
}
.pricing-detail{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 1rem 2rem; 
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 99%;

}
.pricing-detail:hover{
    color: wheat;
    background-color: #6610f2;
    box-shadow: 5px 5px 15px 5px;
    border-radius:0.5rem ;
    width: 100%;
    position: relative;
    top: -5px;
}

@media (max-width: 900px) {
   .pricing button{
        width: auto;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
}