.review{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    margin-top: 3rem;
    background-color: #f4f7fa;
    
}
.commit-customer{
    border: 1px solid  rgb(160, 155, 155);
    padding: 1.5rem;
    margin-bottom: 3rem;
    background-color: white;
}
.commit-customer p{
    
    color: rgb(49, 48, 48);
}

.avatar-img{
    display: flex;
    text-align: start;
}
.avatar-img h5{
    margin-left: 0.5rem;
}
.avatar-img p{
    font-size: small;
}
.contact-review{
    background-color: white;
    padding-top: 2rem !important;
    text-align: start;
    padding-left: 6rem !important;
    margin-left: 1rem;
}
.contact-review button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.message{
    width: 100%;
}
@media (max-width: 900px) {
    .contact-review{
        padding-left: 1rem !important;
        padding-top: 2rem !important;
        padding-right: 1rem !important;
    }
    
}