.review{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    margin-top: 3rem;
    
}
.commit-customer{
    border: 1px solid  rgb(126, 120, 120);
    padding: 0.5rem;
    margin-bottom: 3rem;

}

.avatar-img{
    display: flex;
    text-align: start;
}
.avatar-img h5{
    margin-left: 0.5rem;
}
.avatar-img p{
    font-size: small;
}
.contact-review{
    background-color: #f4f7fa;
    padding-top: 2rem !important;
    text-align: start;
    padding-left: 6rem !important;

    margin-left: 1rem;
}
.contact-review button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.message{
    width: 100%;
}
@media (max-width: 900px) {
    .contact-review{
        padding-left: 1rem !important;
        padding-top: 2rem !important;
    }
    
}